@page
@model PayrollSystem.Pages.Jobs.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Income</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Income.JobTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Income.JobTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Income.Cost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Income.Cost)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Income.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
